body{
	*{
		box-sizing: border-box;
	}

}
.row{
	display: flex;
}

.column{
	flex: 50%
	padding: 10px;
	height: 500px;
	background-color: #ede7fb;
	width: 50%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;

}
.navbar{
	background-color: #33b5e5;
	overflow: hidden;
}

.navbar a{
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 24px;

}
/* registration form styles */
.register{
	padding: 16px;
}

input[type=text], input[type=password]{
	width: 500px;
	padding: 12px;
	margin: 5px 0 22px 0;

}

.register_button{
	background-color: #0099CC;
	color: #ffffff;
	padding-top: 16px 20px;
	margin: 8px;
	font-size: 20px;
}
button{
	float: center;
	padding: 14px 16px;
}


/* login styles */

.loginbtn{
	background-color: #0099cc;
	padding-top: 16px 20px;
	font-size: 20px;
	color: #ffffff;


}
/* post style */
.post{
	border-radius: 5px;
	padding: 20px;
}

.postbtn{
	background-color: #0099cc;
	padding-top: 16px 20px;
	font-size: 20px;
	color: #ffffff;
}

.post textarea{
	width: 500px;
	padding: 12px;
	border: 1px solid #ccc;
}

	

