body{
	*{
		box-sizing: border-box;
	}

h1{
	font-size: 50px;
	color: #1C2331;
	font-weight: 2px;
}
}
.row{
	display: flex;
}

.column{
	flex: 50%
	padding: 10px;
	height: 500px;
	width: 50%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;

}
.navbar{
	background-color: #33b5e5;
	padding: 15px;
	padding-top: 20px;
	
}

.navbar a{
	
	color: #ffffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 24px;

}
/* registration form styles */
.register{
	padding: 16px;
	padding-left: 400px;
	padding-right: 300px;
}

input[type=text], input[type=password]{
	width: 500px;
	padding: 12px;
	margin: 5px 0 22px 0;

}

.register_button{
	background-color: #0099CC;
	color: #ffffff;
	padding-top: 16px 20px;
	margin: 8px;
	font-size: 20px;
}
button{
	float: center;
	padding: 14px 16px;
}


/* login styles */

.loginbtn{
	background-color: #0099cc;
	padding-top: 16px 20px;
	font-size: 20px;
	color: #ffffff;


}
/* post style */
.post{
	border-radius: 5px;
	padding: 20px;
}

.postbtn{
	background-color: #0099cc;
	padding-top: 16px 20px;
	font-size: 20px;
	color: #ffffff;
}

.post textarea{
	width: 500px;
	padding: 12px;
	border: 1px solid #ccc;
}

	



.commentbtn{
	background-color: #0099cc;
	color: #ffffff;

}

.dropbtn{
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown{

	position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #0099cc;
	min-width: 160px;
	box-shadow: 0px 8px 0px rgba(0,0,0,0,2);
	z-index: 1;
	color: #ffffff;
}

.dropdown-content a {
	padding: 12px 16px;
	text-decoration: none;
	display: block;

}
.dropdown-content a:hover { background-color: #ddd; }
.dropdown:hover  .dropdown-content {display: block;}
.dropdown:hover  .dropbtn {background-color: #3e8341;}


.register a{
	text-decoration: none;
	font-size: 24px;
}


.alert{
	padding: 20px;
	background-color: #f44336;
	color: white;
	margin-bottom: 15px;
}

.log a{
	font-size: 24px;
	text-decoration: none;
	padding: 50px;
	background-color: yellow;

}