<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	
	<link href="static/css/style.css" rel="stylesheet">

</head>
<div class="navbar">

<a href="/">Home</a>
<a href="/register">Register</a>
<a href="/comment">Post Comment</a>

<div class="dropdown">

{% if session.logged_in %}
<button class="dropbtn">Account</button>
	<div class="dropdown-content">
		<a href="/user_details">Profile</a>
		<a href="/query_comment">Comments</a>
		<a href="/logout">Logout</a>

	{% endif %}
	</div>
	
</div>
</div>
</div>
<body>

{% if error %}
	<p class="error"><strong>Error:</strong>{{ error }}</p>

{% endif %}

{% for message in get_flashed_messages() %}
	{{ message }}
{% endfor %}

<div class="container">
{% block content %} {% endblock %}




</div>
</body>
</html>