<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	
	<link href="static/css/style.css" rel="stylesheet">

</head>
<div class="navbar">
<a href="/">Home</a>
<a href="/register">Register</a>
<a href="/login">Login</a>
<a href="/post">Post</a>
<a href="/user_details">View</a>
</div>
<body>

<div class="container">
{% block content %} {% endblock %}

{% if error %}
	<p class="error"><strong>Error:</strong>{{ error }}</p>

{% endif %}

{% for message in get_flashed_messages() %}
	{{ message }}
{% endfor %}

</div>
</body>
</html>