{% block title %} {% endblock %}
{% extends 'base.html' %}

{% block content %}
<div class="post">

<div class="row">
	<div class="column">
	<h1>New Motherhood in the Age of Trump</h1>
	<p> October 2016, I found out I was pregnant. In November, I felt a thrill upon taking my unborn child into the booth with me to vote for the first female president of the United States.

After voting, I arranged the Hillary paraphernalia I’d collected over the years on the coffee table, like a kid at show-and-tell. I cooked black bean burgers for dinner, floating happily around the kitchen. My husband and I settled in on the sofa as if we were about to still a chance.</p>
<br/>



	</div>

	<div class="column">
	<h1>Post Your Comment Here</h1>
<div class="post">

<form action="">

<textarea id="post" name="content" placeholder="Post Comment" style="height: 200px;"></textarea>	<br/><br/>

<button type="submit" class="postbtn" name="post">Post Comment</button>
</form>
<br/>


</div>


{% endblock %}