{% block title %} {% endblock %}

{% extends 'base.html' %}


{% block content %}

<center>
<h1>Login</h1>
</center>
<div class="register">
<form action="" method="post">
<label for="username"><b>Username</b></label><br/>
<input type="text" placeholder="Username" name="username" value="{{request.form.username}}"><br/>

<label for="password"><b>password</b></label><br/>
<input type="password" placeholder="Password" name="password" value="{{request.form.password}}"><br/>

<input type="submit" class="loginbtn" value="Login">
</form>
</div>


{% endblock %}