{% block title %} {% endblock%}
{% extends 'base.html' %}

{% block content %}

<center>
<h1>Register</h1>
<p><h2>Full out this to have you account</p></h2>
</p></center>
</p>
<div class="register">
<form action="">
<label for="fullname"><b>Fullname</b></label><br/>
<input type="text" placeholder="Enter Fullname" name="fullname" required="fullname"><br/>

<label for="username"><b>username</b></label><br/>
<input type="text" placeholder="Enter Username" name="username" required=""><br/>


<label for="email"><b>Email</b></label><br/>
<input type="text" placeholder="Enter Email" name="email" required=""><br/>

<label for="password"><b>passward</b></label><br/>
<input type="password" placeholder="password" name="password" required=""><br/>

<label for="comfirm_password"><b>Confirm password</b></label><br/>
<input type="password" placeholder="confirm_password" name="name" required=""><br/>

<button type="submit" class="register_button">Signup</button>
	<a href="/login">Login Here</a>

	

</form>
</div>

{% endblock %}